{% extends 'base.html' %}

{% block content %}
<div style="width:50%;margin:auto;">
    <h3>{{object.group}}/{{object.title}}</h3>
    <p><span>описание: </span>{{object.description}}</p>
    <p><span>длительность, ч.: </span>{{object.how_long}}</p>
    {% for srv_price in object.service_prices.all %}
    <p></p>
    <label style="width:250px">кузов - {{srv_price.get_auto_body_display}}, <span>цена {{srv_price.price}} руб.</span></label>

    {% endfor %}
</div>
{% endblock %}

|truncatewords:10